<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SpringTodoList</title>
  </head>
  <body>
    <div class="create-todo">
      <form method="POST" th:action="@{/}" th:object="${todo}">
        <p th:errors="*{content}" class="todo-error-message"></p>
        <input type="text" th:field="*{content}" />
        <button type="submit" class="btn btn-primary">登録</button>
      </form>
      <div class="delete-all">
        <form method="POST" th:action="@{/deleteAll}">
          <button type="submit">完了済みを削除</button>
        </form>
      </div>
      <div>
        <a th:href="@{user/list}">ユーザー一覧</a>
      </div>
    </div>
    <div class="flex">
      <div class="incomplete">
        <h3>未完了</h3>
        <div th:each="todo : ${allTodo}">
          <!-- doneのフラグがfalseのものを表示 -->
          <div th:if="${!todo.done}">
            <!-- Controllerの @PostMapping(/done) と結びつける -->
            <form method="POST" th:action="@{/done}">
              <input type="hidden" name="id" th:value="${todo.id}" />
              <button type="submit"></button>
            </form>
            <p th:text="${todo.content}"></p>
          </div>
        </div>
      </div>
      <div class="complete">
        <h3>完了済み</h3>
        <!-- doneのフラグがtrueのものを表示 -->
        <div th:each="todo : ${allTodo}" th:if="${todo.done}">
          <p th:text="${todo.content}"></p>
        </div>
      </div>
    </div>
  </body>
</html>
